# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
env/
ENV/
.venv/
pip-log.txt

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
*.env

# PyInstaller
build/
dist/
*.spec

# Logs
*.log

# Test/coverage
htmlcov/
.tox/
.coverage
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover

*.md

!README.md